@model KoreatechGraduateManagement.Models.EtcStatus

@{
    ViewData["Title"] = "생성";
}

<h1>생성</h1>

<h4>EtcStatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsIPPFinish" /> @Html.DisplayNameFor(model => model.IsIPPFinish)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEngineerCertificationFinish" /> @Html.DisplayNameFor(model => model.IsEngineerCertificationFinish)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEnglishCertificationFinish" /> @Html.DisplayNameFor(model => model.IsEnglishCertificationFinish)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="생성" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
