@model KoreatechGraduateManagement.Models.Subject

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectName" class="control-label"></label>
                <input asp-for="SubjectName" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectCode" class="control-label"></label>
                <input asp-for="SubjectCode" class="form-control" />
                <span asp-validation-for="SubjectCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassNumber" class="control-label"></label>
                <input asp-for="ClassNumber" class="form-control" />
                <span asp-validation-for="ClassNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectType" class="control-label"></label>
                <input asp-for="SubjectType" class="form-control" />
                <span asp-validation-for="SubjectType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Target" class="control-label"></label>
                <input asp-for="Target" class="form-control" />
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassTime" class="control-label"></label>
                <input asp-for="ClassTime" class="form-control" />
                <span asp-validation-for="ClassTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credit" class="control-label"></label>
                <input asp-for="Credit" class="form-control" />
                <span asp-validation-for="Credit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
